<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="EndpointUrl" value="https://picturedb.documents.azure.com:443/" />
    <add key="AuthKey" value="cNKcjKztdIHcesct3cwYirohcuAuOHEEOGJRCLJHPq80X6hKYHXwJ3Ra101jj4dr48UlQD4yHuYHTjdkcFNLnA==" />
    <add key="DatabaseName" value="Labb4"/>
  </appSettings>
</configuration>