<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="EndpointUrl" value="https://labb4.documents.azure.com:443" />
    <add key="AuthKey" value="NAfqsGRxrU29aYUWXuDkippbMKgeuNyiux6ZCTHVHxeZG3Em8aTHs8A3Ckn2K9E1MuudWjpBiJUFYYQxi2n2Cw==" />
    <add key="DatabaseName" value="labb4"/>
  </appSettings>
</configuration>