<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="EndpointUrl" value="https://labb3.documents.azure.com:443/" />
    <add key="AuthKey" value="it5F1W3STs08jBLWEjYxeV6mR8wAvClclZvjclm3J23OzSmBnToR7X3VdWEwKZgfYVzI42JzMAjF9AmnLvJoUw" />
    <add key="DatabaseName" value="Labb4"/>
  </appSettings>
</configuration>